body {
    background: blanchedalmond;
}

button{
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50rem;
    width: 100%;
}

.calc-window {
    display: flex;
    background-color: aquamarine;
    border: .5em black solid;
    flex-flow: column;
    width: 38.5%;
    height: 83%;
    border-radius: 1em;
}

.calc-display {
    background-color: burlywood;
    border: 0.1em solid black;
    margin-top: 0.7em;
    margin-bottom: 0.3em;
    text-align: end;
    padding: 0.5em 2em;
    border-radius: 1em;
    font-family: Ubuntu;
    font-size: 50px;
    font-weight: bolder;
    height: 9%;
}

.calc-operatorpadH{
    display: flex;
    flex-direction: row;
    /* margin-left: -0.25em; */
    align-items: center;
    justify-content: center;
}   

.calc-operatorpadH button{
    border-radius: 1em;
    border: 0.2em solid black;
    background-color: coral;
    padding: 1.5em 4.5em;
    margin: 0.2em 0.2em;
}

.calc-operatorpadV{
    display: block;
    align-items: center;
    justify-content: center;
    width: 26%;
    height: max-content;
    margin-top: -26.8em;
    margin-left: 73.5%;
}

.calc-operatorpadV button{
    border-radius: 1em;
    border: 0.2em solid black;
    background-color: cornflowerblue;
    padding: 3em 5em;
    margin: 0.2em 0.2em;
}

.calc-numberpad{
    display: flow-root;
    margin-left: 0.6em;
}

.calc-numberpad button{
    border-radius: 1em;
    border: 0.2em solid black;
    background-color: darkcyan;
    color: whitesmoke;
    padding: 3em 4.5em;
    margin: 0.2em 0.2em;
}

.calc-numberpad > .zero-button{
    padding: 3em 9.9em;
}